@font-face {
    font-family: Butler;
    src: url(../fonts/Butler/Butler_Regular.otf);
    font-family: Butler-Medium;
    src: url(../fonts/Butler/Butler_Medium.otf);
    font-family: Lato;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

* {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
}


/* About Title & Image */

.mainContainer {
    text-align: center;
    position: relative;
}

.titleContainer {
    position: relative;
    text-align: center;
    color: white; 
}

.mainTitle {
    position: absolute;
    top: 40%;
    left: 36%;
    font-family: Butler;
    font-size: 5vw;
    font-weight: 400;
    color: #fafaf0;
    text-shadow: 2px 2px 8px rgb(20, 6, 4);
}

.quote {
    margin-top: 2%;
}

/* Text Section */

.puzzle {
    opacity: 0.1;
    width: 100%;
}

.mainText {
    position: relative;
    text-align: center;
}

.txt {
    position: absolute;
    top: 48%;
    left: 10%;
    right: 10%;
    font-family: Lato;
    font-size: 1.3vw;
}

.getHelp {
    position: absolute;
    height: 28vw;
    top: -5%;
    left: 30%;
}

.mainText > h2 {
    font-family: Butler-Medium;
    font-weight: 600;
    font-size: 2vw;
    position: absolute;
    top: 36%;
    left: 36%;
    color: rgba(0, 0, 0, 0.644);
}

/* Our Counselors */

.ourCounselors {
    margin-left: 16%;
}

.counselors {
    font-size: 4vw;
    font-family: Butler-Medium;
    color: #707070;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
}

.counselorsTxt {
    font-family: Lato;
    font-size: 1.3vw;
}

.myCol {
    max-width: 27%;
    margin-top: 3%;
}

.topRow {
    margin-top: -10px;
}

.counselorsTxt {
    font-family: Lato;
    font-size: 1.4vw;
}

/* Get started now button */

.aboutRegisterBtn {
    margin-top: 3%;
}

/* Success Stories */

.successStories {
    position: relative;
}

.mainCarosel{
    position: absolute;
    width: 60%;
    height: auto;
    margin-left: 20%;
    margin-top: -45%;
}

/* Opacity of background Image */
.storiesImg {
    opacity: 0.2;
}

/* Opacity of background Color */
.d-block {
    opacity: 0.7;
}

.carousel-caption {
    color: #707070;
    font-family: Lato;
}

.carousel-caption > h5 {
    font-family: Lato;
    margin-bottom: 10%;
    font-size: 5vw;
}

.carousel-caption > p {
    margin-bottom: 15%;
    color: #5a5a5a;
    font-size: 1.4vw;
}