* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body-continer {
    /* background-color: rgb(236, 231, 221); */
    background-color: rgb(247, 247, 247);
    height: 99vh;
    overflow-y: scroll;
}

/* HEADER */
header {
    width: 100%;
    height: 7%;
    top: 0px;
    left: 15%;
    right: 0px;
    padding-left: 2%;
    padding-right: 17%;
    position: fixed;
    background-color: rgb(197, 184, 168);
    background-color: rgb(209, 202, 193);
    border-bottom: solid 2px rgb(46, 40, 33, .8);
    display: flex;
    justify-content: space-between;   
    align-items: center;
    z-index: 1;
}

#log-out {
    height: 60%;
    width: 10%;
    min-width: 10%;
}

header button:hover {
    height: 60%;
    width: 10%;
    background-color: rgb(255, 255, 255, .9);
}

/* SIDEBAR */
.sidebar-wrraper {
    height: 100%;
    width: 15%;
    left: 0px;
    top: 0%;
    position: fixed;
    background-color: rgb(89, 81, 70);
    border-right: solid 2px rgb(46, 40, 33, .8);
}

.sidebar-nav {
    padding-top: 5%;
}

.sidebar-nav li  {
    list-style: none;
    text-indent: 10%;
    line-height: 250%;
    font-size: larger;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ddd;
}

.sidebar-nav li a:hover {
    background-color: rgb(134, 125, 112);
}

/* MAIN CONTENT */
.main-content {
    padding-left: 15.5%;
    padding-right: 0.5%;
    padding-top: 1%;
    margin-top: 2%;
}

button {
    min-width: 23% ;
}

section {
    padding: 2%;
    border:solid 1px black;
    box-shadow: 2px 2px 2px 2px rgb(138, 121, 95);
}

article:first-child {
    border-right: black solid 1px;
}

/* ADDING NEW COUNSELOR AND QUESTION SECTION */
.new-content-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    max-height: max-content;
}

.new-content {
    width: 50%;
    display: flex;
    flex-direction:column;
    align-items: stretch;
}

.inputs {
    width: 95%;
}

/* counselor */
.new-content form {
    display: flex;
    flex-direction:column;
}

.counselor-btns {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}

/* questions */
.add-quesstion {
    padding-left: 2%;
}

.add-quesstion button {
    width: 23%;
    align-self: center;
    margin-top: 2%;
}


/* USER SECTION */
.users {
    display: flex;
    justify-content: space-between;
}

.users-btn {
    background-color: rgb(134, 125, 112);
}


/* Disiable all content */
/* .main-continer {
    pointer-events: none;
    opacity: 0.4;
} */