* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Butler;
    src: url(../fonts/Butler/Butler_Regular.otf);
    font-family: Lato;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

body {
    font-family: Lato, serif;
    background-color: #f3f1f249;
}

/* Login pop up style */

.popUpLogin {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.loginContent {
    width: 500px;
    height: 350px;
    background-color: #fafaf0;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

input {
    padding: 7px;
    width: 50%;
    height: 27px;
    background-color: #fafaf0;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    display: block;
    margin: 10px auto;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.log {
    margin: 30px 30px 0 0;
    padding: 7px 15px;
    background-color: #639ecf;
    border-style: solid;
    border-color: #639ecf;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 15px;
    transition: all 0.1s ease 0s;
}

.log:hover {
    background-color: unset;
    border-style: solid;
    border-color: #5cb85c;
    color: #5cb85c;
}

.reg {
    margin: 30px 0 0 30px;
    padding: 9px 17px;
    background-color: #639ecf;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 15px;
    transition: all 0.1s ease 0s;
}

.reg:hover {
    background-color: #e36039;
}

.forgot {
    font-size: 13px;
    margin-right: 100px;
}

h1 > a {
    text-decoration: none;
}

/* Cellphone Image */

.imgContainer {
    position: relative;
}

.imgContainer > img {
    max-width: 100%;
    padding-top: 0.4%;
    margin-top: 4%;
}

/* Main Title */

.mainTitle {
    position: absolute;
    font-family: Lato, serif;
    font-size: 3vw;
    font-weight: 400;
    text-shadow: 2px 2px 8px rgb(124, 114, 101);
    color: #fafaf0;
    top: 47%;
    left: 40%;
}

/* Text Below Image */

.faqTxt {
    font-size: 16px;
    font-family: Lato;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-top: 3%;
}

.faqTxt > a {
    font-size: 16px;
    font-family: inherit;
    color: #5faa41;
}

/*Form And Info Container */

.contactContainer {
    display: flex;
}

.infoContainer {
    position: relative;
    width: 70%;
}

/* Clip art image */

.infoContainer > img {
    margin-left: 7%;
    margin-top: 30%;
    width: 70%;
}

h1 + h2 {
    font-size: 2vw;
}

/* Contact Us Box */

.contactInfo {
    position: absolute;
    top: 13%;
    background-color: #f7f7f7;
    border-radius: 10px;
    border: solid 3px #d1d1d1b2;
    left: 21%;
    text-align: center;
    width: 40%;
    padding: 10px;
} 

.contactInfo > p, .contactInfo > a {
    font-size: 15px;
    font-family: Lato;
}

.contactMail {
    color: #c54822;
}

.contactMail:hover {
    color: #c54822;
}

/* Form */

.formContainer {
    width: 65%;
    height: 90%;
    margin-top: 4%;
    margin-left: 12%;
    background-color: #f99d65;
    border-radius: 20px;
}

.formBox{
    height: 35px;
}

.formStyle {
    font-family: Lato;
    width: 90%;
    height: 35px;
    padding-left: 10px;
    margin-top: 4%;
    margin-left: 5%;
    margin-right: auto;
    border: none;
    border-radius: 5px;
    background: white;
}

input:focus {
    outline: none;
}

textarea{
    font-family: Lato;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 120px !important;
}

textarea:focus {
    outline: none;
}

/* Error Msg */

.error {
    font-family: Lato;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 3%;
}

/* Send Btn */

.submitBtn {
    margin: 15px;
    margin-left: 42%;
    font-family: Lato;
    padding: 5px 20px;
    background-color: white;
    color: #b3602c;
    border: solid 2px #b3602cc5;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.2s ease 0s;
}

.submitBtn:hover {
    border: solid 2px white;
    transition: all 0.2s ease 0s;
}


.submitBtn:focus {
    outline: none;
}



/* SOS Msg */

.sos {
    margin-top: 150px;
    margin-left: 4%;
    padding-top: 15px;
    text-align: justify;
    font-size: 14px;
    font-weight: 800;
    color: #000000b7;
}

.sosTxt {
    font-family: Lato;
}

.sosLink {
    font-family: Lato;
    color: #e36039;
    font-weight: 600;
}

.sosLink:hover {
    color: #e36039;
}