* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Butler;
    src: url(../fonts/Butler/Butler_Regular.otf);
    font-family: Lato;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

body {
    font-family: Lato, serif;
    background-color: #f3f1f249;
}

/* Cellphone Image */

.imgContainer {
    position: relative;
}

.imgContainer > img {
    max-width: 100%;
}

/* Main Title */

.mainTitle {
    position: absolute;
    font-family: Butler, serif;
    font-size: 5vw;
    font-weight: 400;
    text-shadow: 2px 2px 8px rgba(124, 114, 101, 0.795);
    color: #fafaf0;
    top: 40%;
    left: 36%;
}

/* Text Below Image */

.faqTxt {
    font-size: 16px;
    font-family: Lato;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-top: 3%;
}

.faqTxt > a {
    font-size: 16px;
    font-family: inherit;
    color: #5faa41;
}

/*Form And Info Container */

.contactContainer {
    display: flex;
}

.infoContainer {
    position: relative;
    width: 70%;
}

/* Clip art image */

.infoContainer > img {
    margin-left: 7%;
    margin-top: 30%;
    width: 70%;
}

h1 + h2 {
    font-size: 2vw;
}

/* Contact Us Box */

.contactInfo {
    position: absolute;
    top: 13%;
    background-color: #f7f7f7;
    border-radius: 10px;
    border: solid 3px #d1d1d1b2;
    left: 21%;
    text-align: center;
    width: 40%;
    padding: 10px;
} 

.contactInfo > p, .contactInfo > a {
    font-size: 15px;
    font-family: Lato;
}

.contactMail {
    color: #c54822;
}

.contactMail:hover {
    color: #c54822;
}

/* Form */

.formContainer {
    width: 65%;
    height: 90%;
    margin-top: 4%;
    margin-left: 12%;
    background-color: #f99d65;
    border-radius: 20px;
}

.formStyle {
    font-family: Lato;
    width: 90%;
    height: 35px;
    padding-left: 10px;
    margin-top: 4%;
    margin-left: 5%;
    margin-right: auto;
    border: none;
    border-radius: 5px;
    background: white;
}

input:focus {
    outline: none;
}

textarea {
    font-family: Lato;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 120px !important;
}

textarea:focus {
    outline: none;
}

/* Error Msg */

.error {
    font-family: Lato;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 3%;
}

/* Send Btn */

.submitBtn {
    margin: 15px;
    margin-left: 42%;
    font-family: Lato;
    padding: 5px 20px;
    background-color: white;
    color: #b3602c;
    border: solid 2px #b3602cc5;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.2s ease 0s;
}

.submitBtn:hover {
    border: solid 2px white;
    transition: all 0.2s ease 0s;
}

.submitBtn:focus {
    outline: none;
}

/* Footer adittional changes */

footer {
    margin-top: 100px;
}