* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Libre Baskerville', serif;
    background-color: #fafaf0;
}

.background {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(156, 135, 113, 0.198),rgba(156, 135, 113, 0.198)),url(../images/contact.jpg) no-repeat fixed center;
    background-size: cover;
    padding-bottom: 2%;
}

/* Login pop up style */

.popUpLogin {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.loginContent {
    width: 500px;
    height: 350px;
    background-color: #fafaf0;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

input {
    padding: 7px;
    width: 50%;
    height: 27px;
    background-color: #fafaf0;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    display: block;
    margin: 10px auto;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.log {
    margin: 30px 30px 0 0;
    padding: 7px 15px;
    background-color: #639ecf;
    border-style: solid;
    border-color: #639ecf;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 15px;
    transition: all 0.1s ease 0s;
}

.log:hover {
    background-color: unset;
    border-style: solid;
    border-color: #5cb85c;
    color: #5cb85c;
}

.reg {
    margin: 30px 0 0 30px;
    padding: 9px 17px;
    background-color: #639ecf;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 15px;
    transition: all 0.1s ease 0s;
}

.reg:hover {
    background-color: #e36039;
}

.forgot {
    font-size: 13px;
    margin-right: 100px;
}

h1 > a {
    text-decoration: none;
}

/* Main container */

.mainContainer {
    padding-top: 7%;
    display: flex;
}

/* Contact Us Text */

.contactContainer {
    width: 100%;
    margin-top: 110px;
    margin-left: 12%;
}

.contactUs {
    color: #d1caba;
    margin-left: 20%;
    font-size: 3vw;
}

h1 + h2 {
    font-size: 2vw;
}

/* Contact Info */

.contactInfo {
    margin-top: 20px;
    text-align: center;
    background: #6d726e32;
    width: 50%;
    border-radius: 15px;
    font-size: 1rem;
    padding: 20px;
    margin-left: 15%;
} 

.contactMail {
    color: #c54822;
}

.contactMail:hover {
    color: #c54822;
}

/* Form */

.formContainer {
    width: 100%;
    margin-top: 4%;
}

.formBox{
    height: 50px;
}

.formStyle {
    width: 72%;
    height: 50px;
    margin: 10px;
    padding-left: 10px;
    border: none;
    border-radius: 10px;
    background: #f0e6deca;
    transition: all 0.2s ease 0s;
}

.formStyle:hover {
    background: #f0e6de;
}

textarea{
    padding-top: 10px;
    height: 150px !important;
}

/* Send Btn */

.submitBtn {
    margin: 15px;
    margin-left: 25%;
    padding: 15px 40px;
    background-color: #8bc34a73;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 15px;
    transition: all 0.2s ease 0s;
}

.submitBtn:hover {
    background-color: #8bc34aa9;
}

/* Error Msg */

.error {
    background-color: rgba(240, 128, 128, 0.705);
    text-align: center;
    border-radius: 10px;
    width: 72%;
    margin-bottom: 10px;
    margin-left: 1%;
}

/* SOS Msg */

.sos {
    margin-top: 150px;
    margin-left: 4%;
    padding-top: 15px;
    text-align: justify;
    font-size: 14px;
    font-weight: 800;
    color: #000000b7;
}

.sosLink {
    color: #e36039;
    font-weight: 600;
}

.sosLink:hover {
    color: #e36039;
}