* {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
}

@font-face {
    font-family: Butler;
    src: url(../fonts/Butler/Butler_Regular.otf);
    font-family: Lato;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

#nav-bar {
    width: 100%;
    height: 70px;
}

#main-container {
    text-align: center;
    position: relative;
    top: 70px;
}

#main-title {
    position: absolute;
    top: 7%;
    left: 35%;
    color: white;
    text-shadow: 2px 2px 8px rgb(188, 131, 125);
    font-family: Butler;
    font-size: 5vw;
    font-weight: 400;
}

#content {
    width: 80%;
    margin: auto;
}

#center-paragraph {
    color: gray;
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
    margin-top: 30px;
}

hr {
    margin: 50px 0;
    border: none;
    height: 2px;
    background-color: gray;
    opacity: 30%;
}

#text-div {
    height: 600px;
    display: flex;
    flex-flow: row nowrap;
}

#pros-div {
    flex-basis: 50%;

    display: flex;
    flex-flow: column nowrap;
}

#question, #req-title {
    flex-basis: 20%;
    font-family: Lato;
    font-size: 35px;
    color: grey;
    padding-top: 30px;
}

.pros {
    flex-basis: 20%;
}

.icons {
    float: left;
    width: 70px;
    height: 70px;
}

.pros > p {
    float: right;
    width: 70%;
    margin-right: 9%;
    text-align: left;
    font-family: Lato;
    font-size: 15px;
}

#req-div {
    flex-basis: 50%;

    display: flex;
    flex-flow: column nowrap;
}

#req-text {
    margin-left: 7%;
    flex-basis: 80%;
    text-align: left;
    font-family: Lato;
    font-size: 15px;
}

#form {
    position: relative;
    bottom: 30px;
    margin: 100px auto;
    padding: 40px;
    border: solid 1px #dedede;
    border-radius: 0.5rem;
    width: 800px;
    background-color: #bddb8f; 
    box-shadow: 3px 3px 20px -5px;
}

#error-message {
    width: 70%;
    position: relative;
    bottom: 10px;
    margin: auto;
    padding: 10px 15px;
    background-color: #ffebeb;
    border: solid 1px red;
    border-radius: 0.3rem;
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
    color: red;
}

#form-title {
    margin-top: 20px;
    font-family: Butler;
    font-size: 40px;
    font-weight: 500;
    color: white; /* #F79D65; */
}

.inputs {
    width: 70%;
    margin-top: 30px;
    padding: 10px 10px;
    border: solid 1px #dedede;
    font-family: Lato;
    font-size: 15px;
    color: grey;
    background-color: white;
}

.inputs::placeholder {
    color: grey;
}

#select-city {
    margin-top: 30px;
    padding: 10px;
    width: 70%;
    height: 40px;
    font-family: Lato;
    font-size: 15px;
    color: grey;
    background-color: white;
    border: solid 1px #dedede;
    
}

#submit-btn {
    margin: 40px;
    padding: 10px 40px;
    font-family: Lato;
    font-size: 20px;
    color: white;
    background-color: #F79D65;
    border: none;
    border-radius: 0.3rem;
}

#submit-btn:hover {
    background-color: #e38349;
} 

/* Footer adittional adjustments*/

footer {
    margin-top: 50px;
}

.footerHr {
    margin-top: 20px !important;
}