* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: rgb(247, 247, 247);
}

.wrapper {
    display: flex;
    flex-direction: column;
}

textarea {
    resize: none;
}

.daily-announcements {
    height: 96vh;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.upcoming-app {
    display: inline-block;
    border: 1px solid black;
    width: 45%;
    height: 85vh;
    padding: 20px;
    margin: 0 2%;
    text-align: center;
    box-shadow: 2px 2px 2px 2px rgb(138, 121, 95);

}
.upcoming-app img {
    width: 100px;
    height: 100px;
}
.upcoming-app div {
    padding-top: 20px;
    text-align: justify;
}
.upcoming-app div h3 {
    padding-top: 10px;
}
.upcoming-app button {
    margin-top: 15%;
    padding: 10px;
    background-color: rgb(103, 148, 36);
    border-radius: 40px;
    border-color: white;
    box-shadow: 2px 2px 2px 2px rgb(138, 121, 95);
}
.upcoming-app button a {
    color:white;
}




/* The Chat */

.chat-section {
    height: 95vh;
    display: flex;
    flex-direction: row;
}

#patients-list {
    height: 100%;
    width: 20%;
    overflow-x: hidden; 
    overflow-y: auto; 
}
.patients-chat {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
}





.listed-patient {
    height: 13%;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.listed-patient:hover {
    background-color: rgb(149, 198, 233);
    cursor: pointer;
}


.patient-image {
    width: 35%;
}

.patient-image img {
    height: 90%;
    width: 90%;
    border-radius: 150px;
    margin: 5%;
}
.patient-name {
    width: 65%;
    text-align: justify;
    padding-top: 15%;
}



.chat-display {
    padding: 15px;
    margin: 5px;
    height: 80%;
    border: 1.5px inset black;
    border-radius: 20px;
    background-color: rgb(212, 233, 222);
    box-shadow: 2px 2px 2px 2px rgb(138, 121, 95);
}

.chat-pannel {
    border-bottom: 1px solid black;
}

.chat-display .chat-pannel span {
    font-size: .8em;
    color: rgb(105, 105, 105);
}



.chat-input {
    padding: 15px;
    margin: 5px;
    height: 20%;
    background-color: rgb(149, 198, 233);
    display: flex;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgb(138, 121, 95);
}

.chat-input textarea {
    height: 60%;
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    padding: 5px;
    resize: none;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgb(138, 121, 95);
}

.chat-input input {
    margin-left: 5px;
    margin-top: 3%;
    height: 35%;
    width: 10%
}

#sendMessage {
    border-radius: 30px;
    background-color: whitesmoke;
}

#sendMessage:hover {
    background-color: rgb(231, 227, 227);
}


.displayNone {
    display: none;
}