footer {
    border-top: 2px solid #3e4e5d27;
    padding-bottom: 20px;  
    background-color: #FFF0E6;
}

.footerContainer {
    display: flex;
    justify-content: center;
}

/* SOS text */

.sos {
    margin-top: 30px;
    margin-right: 25%;
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: 600;
    color: #3e4e5dc4;
}

.sosLink {
    color: #e36139e7;
    font-weight: 600;
}

.sosLink:hover {
    color: #e36039;
}

/* Terms & Conditions */

.footerLinks > a {
    font-size: 14px;
    font-weight: 600;
    color: #3e4e5dd0;
}

.footerLinks {
    margin-top: 25px;
}

/* Hr */

.footerHr {
    width: 70%;
    margin-left: 15%;
    border: 1px solid #3e4e5d28;
    margin-top: 0;
    margin-bottom: 20px;
}

/* Social Media Icons */

.socialMedia {
    display: flex;
    justify-content: center;
}

.socialMedia > a {
    margin-right: 15px;
    color: #3e4e5dea;
}

.socialMedia > a:hover {
    color: #e36139e7;
}