@font-face {
    font-family: Butler;
    src: url(../fonts/Butler/Butler_Regular.otf);
    font-family: Lato;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

footer {
    border-top: 2px solid #3e4e5d27;
    padding-bottom: 20px;  
    background-color: #FFF0E6;
    font-family: Lato, sans-serif;
    line-height: 1.6;
    font-size: 14px;
}

.footerContainer {
    display: flex;
    justify-content: space-around;
}

/* SOS text */

.sos {
    margin-top: 2%;
    margin-left: 3%;
    padding-bottom: 1%;
    font-weight: 600;
    color: #3e4e5dc4;
    text-align: left;
}

.sosLink {
    color: #e36139e7;
    font-weight: 600;
}

.sosLink:hover {
    color: #e36039;
}

/* Terms & Conditions */

.footerLinks > a {
    font-size: 14px;
    font-weight: 600;
    color: #3e4e5dc4;
}

.footerLinks {
    margin-top: 2%;
    margin-bottom: 1%;
    margin-right: 3%;
    text-align: right;
}

/* Hr */

.footerHr {
    width: 70%;
    margin-left: 15%;
    border: 1px solid #3e4e5d28;
    margin-top: 0;
    margin-bottom: 20px;
}

/* Social Media Icons */

.socialMedia {
    display: flex;
    justify-content: center;
}

.socialMedia > a {
    margin-right: 15px;
    color: #3e4e5dea;
}

.socialMedia > a:hover {
    color: #e36139e7;
}