* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Libre Baskerville', serif;
    background-color: #dacfc6af;
    width: 100%;
    height: 100%;
}

/* Navigation Bar */

h1, li, a, button {
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

header {
    top: 0px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 25px 3%;
    z-index: 100;
    position: fixed;
    transition: all 0.2s ease 0s;
    border-radius: 1px;
}

/* Scroll down changes */

.headerHe {
    height: 70px !important;
    background: #fafaf0 !important;
    padding: 12px 3% !important;
    transition: all 0.3s ease 0s;
}

.loginScroll {
    border-color: #639ecf !important;
    color: #639ecf !important;
}

.loginScroll:hover {
    border-color: #2f6896 !important;
}

/* --------------------- */

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 10px;
}

.nav-links li a {
    transition: all 0.2s ease 0s;
}

.nav-links li a:hover {
    color: #e36039;
}

/* Login Btn */

.login {
    padding: 9px 20px;
    background-color: unset;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    border-width: 1.5px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 15px;
    transition: all 0.2s ease 0s;
}

.login:hover {
    border-color: #ffffffb0;
}

/* Register Btn */

.register {
    padding: 13px 20px;
    background-color: #639ecf;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 15px;
    transition: all 0.2s ease 0s;
}

.register:hover {
    background-color: #F69D44;
}

/* Login pop up style */

.popUpLogin {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.loginContent {
    width: 500px;
    height: 350px;
    background-color: #fafaf0;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

input {
    padding: 7px;
    width: 50%;
    height: 27px;
    background-color: #fafaf0;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    display: block;
    margin: 10px auto;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.log {
    margin: 30px 30px 0 0;
    padding: 7px 15px;
    background-color: #639ecf;
    border-style: solid;
    border-color: #639ecf;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 15px;
    transition: all 0.1s ease 0s;
}

.log:hover {
    background-color: unset;
    border-style: solid;
    border-color: #5cb85c;
    color: #5cb85c;
}

.reg {
    margin: 30px 0 0 30px;
    padding: 9px 17px;
    background-color: #639ecf;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 15px;
    transition: all 0.1s ease 0s;
}

.reg:hover {
    background-color: #e36039;
}

.forgot {
    font-size: 13px;
    margin-right: 100px;
}

/* Wrapper for content */

.wrapper{
    margin-top: 12%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* Resources For Immediate Help */

.info{
    width: 65%;
}

.info > h3 {
    font-size: 27px;
    font-weight: 600;
}

.info > p {
    padding-top: 12px;
    font-size: 14px;
}

.resources{
    background-color: #fafaf0;
    padding-top: 1px;
    padding-left: 40px;
    padding-bottom: 20px;
    margin-bottom: 15%;
    border-radius: 10px;
    font-size: 14px;
    width: 97%;
}

.resources > div > h4 {
    font-size: 21px;
    font-weight: 600;
    margin-top: 60px;
}

.red {
    color: #af2225;
}

/* Jump to a country */

.scrollDown{
    padding-left: 30px;
    width: 15%;
    display: flex;
    flex-flow: column wrap;
}

.scrollDown > h5 {
    font-size: 17px;
    font-weight: 600;
}

.scrollDown > a {
    font-weight: 600;
    font-size: 15px;
    padding-top: 7px;
    color: #2c2e75ce;
}

.scrollDown > a:hover {
    color: #2c2e75;
    text-decoration: none;
}

/* SOS Msg */

.sos {
    margin-left: 4%;
    padding-top: 15px;
    text-align: justify;
    font-size: 14px;
    font-weight: 600;
    color: #000000b7;
}

.sosLink {
    color: #e36039;
    font-weight: 600;
}

.sosLink:hover {
    color: #e36039;
}