* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

body {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fafaf0;
}

.background {
    width: 100%;
    height: 50vw;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1, li, a, button {
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}


.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 10px;
}

.nav-links li a {
    transition: all 0.2s ease 0s;
}

.nav-links li a:hover {
    color: #e36039;
}

.login {
    padding: 10px 25px;
    background-color: unset;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 15px;
    transition: all 0.2s ease 0s;
}

.login:hover {
    border-style: groove;
}
.login:active {

}

.register {
    padding: 15px 25px;
    background-color: #5cb85c;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 15px;
    transition: all 0.2s ease 0s;
}

.register:hover {
    background-color: #e36039;
}

.center {
    align-content: center;
    text-align: center;
    margin: 150px;
}

.centerB {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.centerB a button {
    margin-right: 25px;
    padding: 16px 27px;
    background-color: #5faa41;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: 400;
    font-size: 16px;
    transition: all 0.2s ease 0s;
}

.centerB a button:hover {
    background-color: #519438;
}

.second {
    height: 15vw;
    align-content: center;
    text-align: center;
    margin: 100px;
}

.second ul li {
    list-style: none;
    font-size: 20px;
}

.second a button {
    margin-top: 40px;
    padding: 5px 15px;
    background-color: unset;
    border-style: solid;
    border-radius: 5px;
    border-color: #519438;
    font-size: 14px;
    color: #519438;
    font-weight: 600;
    transition: all 0.2s ease 0s;
    cursor: pointer;
}

.second a button:hover {
    border-color: #e36039;
    color: #e36039;
}


/* Login pop up style */
.popUpLogin {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.loginContent {
    width: 500px;
    height: 350px;
    background-color: #fafaf0;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

input {
    padding: 7px;
    width: 50%;
    height: 27px;
    background-color: #fafaf0;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    display: block;
    margin: 10px auto;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.log {
    margin: 30px 30px 0 0;
    padding: 7px 15px;
    background-color: #5cb85c;
    border-style: solid;
    border-color: #5cb85c;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 15px;
    transition: all 0.1s ease 0s;
}

.log:hover {
    background-color: unset;
    border-style: solid;
    border-color: #5cb85c;
    color: #5cb85c;
}

.reg {
    margin: 30px 0 0 30px;
    padding: 9px 17px;
    background-color: #5cb85c;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 15px;
    transition: all 0.1s ease 0s;
}
.reg:hover {
    background-color: #e36039;
}

.forgot {
    font-size: 13px;
    margin-right: 100px;
}

