* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: auto;
    font-family: 'Libre Baskerville', serif;
    background-color: #fafaf0;
}

.background {
    width: 100%;
    height: 50vw;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1, li, a, button {
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}


.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 10px;
}

.nav-links li a {
    transition: all 0.2s ease 0s;
}

.nav-links li a:hover {
    color: #e36039;
}

.login {
    padding: 10px 25px;
    background-color: unset;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    border-width: 1.5px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 15px;
    transition: all 0.2s ease 0s;
}

.login:hover {
    border-color: #c2c2c2;

    border-style: groove;
}

.register {
    padding: 15px 25px;
    background-color: #639ecf;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 15px;
    transition: all 0.2s ease 0s;
}

.register:hover {
    background-color: #F69D44;
}

.center {
    align-content: center;
    text-align: center;
    margin: 150px;
    position: relative;
}

.centerB {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.types {
    width: 150px;
    height: 200px;
    margin: 0 20px;
    background-color: #fff5e0;
    padding: 20px 10px 10px;
    border-style: none;
    border-radius: .5rem;
}

.type-buttons {
    width: 110px;
    height: 60px;
    margin: 30px 10px 0px;
    padding: 10px;
    background-color: #639ecf;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: 400;
    font-size: 14px;
    transition: all 0.2s ease 0s;
}

.type-buttons:hover {
    background-color: #2f6896;
}

.second {
    height: 15vw;
    align-content: center;
    text-align: center;
    margin: 100px;
}

.second ul li {
    list-style: none;
    font-size: 20px;
}

.second a button {
    margin-top: 40px;
    padding: 5px 15px;
    background-color: unset;
    border-style: solid;
    border-radius: 5px;
    border-color: #519438;
    font-size: 14px;
    color: #519438;
    font-weight: 600;
    transition: all 0.2s ease 0s;
}

.second a button:hover {
    border-color: #e36039;
    color: #e36039;
}